$colors: (
  grey: #c9c9c9,
  turquoise: #1abc9c,
  emerald: #2ecc71,
  peter-river: #3498db,
  amethyst: #9b59b6,
  wet-asphalt: #34495e,
  green-sea: #16a085,
  nephritis: #27ae60,
  belize-hole: #2980b9,
  wisteria: #8e44ad,
  midnight-blue: #2c3e50,
  sun-flower: #f1c40f,
  carrot: #e67e22,
  alizarin: #e74c3c,
  clouds: #ecf0f1,
  concrete: #95a5a6,
  orange: #f39c12,
  pumkin: #d35400,
  pomegranate: #c0392b,
  silver: #bdc3c7,
  asbestos: #7f8c8d,
);
