$imageSizes: (
  x16: 16px,
  x32: 32px,
  x64: 64px,
  x128: 128px,
  x256: 256px,
);


$skeletonSizes: (
  small: (
    headingSize: .75em,
    textSize: .5em,
    textSpacing: .25em,
  ),
  normal: (
    headingSize: 1em,
    textSize: .75em,
    textSpacing: .5em,
  ),
  big: (
    headingSize: 1.25em,
    textSize: 1em,
    textSpacing: .75em,
  ),
);

$headingSize: 1em;
$textSize: .75em;
$textSpacing: .5em;
