@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.skeleton-animation-pulse {
  .bone {
    animation: pulse 1.2s infinite ease-out;
  }
}


@keyframes shimmer {
 0% {
    background-position: -600px 0;
  }
  100% {
    background-position: 600px 0;
  }
}

.skeleton-animation-shimmer {
  @include color {
    &.skeleton-color-#{$colorName} {
      .bone {
        background-image: linear-gradient(90deg, darken($color, 10%) 8%, $color 18%, darken($color, 10%) 33%);
      }
    }
  }
  .bone {
    animation: shimmer 1s infinite linear;
    background-image: linear-gradient(90deg,darken(map-get($colors, grey), 10%) 8%,map-get($colors, grey) 18%, darken(map-get($colors, grey), 10%) 33%);
    background-size: 1200px;
  }
}
