.bone {
  // Set the default color.
  background-color: map-get($colors, grey);
}

.bone * {
  display: none;
}

@mixin color($name, $color) {
  .bone.#{$name} {
    background-color: $color;
  }
}

@each $colorName, $color in $colors {
  @include color($colorName, $color);
}

