.bone {
  // Set the default color.
  background-color: map-get($colors, grey);

  &.width-half {
    width: 50%;
  }

  &.width-quarter {
    width: 25%;
  }
}

.bone * {
  display: none;
}

@include color {
  &.skeleton-color-#{$colorName} {
    .bone {
      background-color: $color;
    }
  }
}
