.bone-type-heading {
  @extend .bone-type-text;
  height: $headingSizeDefault;

  &.bone-style-subheading {
    margin-bottom: $textSpacingDefault + $headingSizeDefault + $textSizeDefault;

    &:before {
      height: $textSizeDefault;
      content: '';
      display: block;
      position: relative;
      background-color: inherit; 
      border-radius: inherit;
      top: $textSpacingDefault + $headingSizeDefault;
      width: 50%;
    }
  }
}

@include size {
  &.skeleton-#{$sizeName} {
    .bone-type-heading {
      height: $headingSize;

      &.bone-style-subheading {
        margin-bottom: $textSpacing + $headingSize + $textSize;

        &:before {
          height: $textSize;
          top: $textSpacing + $headingSize;
        }
      }
    }
  }
}
