.bone-text.bone-heading {
  height: $headingBoneSize;

  &.bone-has-subheading {
    margin-bottom: $textSpacing + $headingBoneSize + $textBoneSize;

    &:before {
      height: $textBoneSize;
      content: '';
      display: block;
      position: relative;
      background-color: inherit; 
      border-radius: inherit;
      top: $textSpacing + $headingBoneSize;
      width: 50%;
    }
  }

}
