.bone-type-image {
  display: inline-block;
  flex-shrink: 0;
  width: $imageSizeDefault;
  height: $imageSizeDefault;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gETDTggzL3OiAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAADUlEQVQI12P4//8/AwAI/AL+XJ/P2gAAAABJRU5ErkJggg==);

  &.bone-style-rounded {
    border-radius: 25%;
  }

  &.bone-style-round {
    border-radius: 50%;
  }
}

@include size {
  &.skeleton-#{$sizeName} {
    .bone-type-image {
      height: $imageSize;
      width: $imageSize;
    }
  }
}
