.bone-type-multiline {
  @extend .bone-type-text;

  margin-bottom: 3 * $textSpacingDefault + 2 * $textSizeDefault;

  &:before {
    // Import the shared properties and set the position.
    @extend %multilinePseudo;
    top: $textSpacingDefault + $textSizeDefault;
  }

  &:after {
    // Import the shared properties and set the position.
    @extend %multilinePseudo;
    top: 2 * $textSpacingDefault + $textSizeDefault;
  }

  //Different styles for the multiline text.
  @import 'multiline/steps';
  @import 'multiline/paragraph';
  @import 'multiline/mixed';
  @import 'multiline/list';
}

@include size {
  &.skeleton-#{$sizeName} {
    .bone-type-multiline {
      margin-bottom: 3 * $textSpacing + 2 * $textSize;

      &:before {
        // Import the shared properties and set the position.
        top: $textSpacing + $textSize;
      }

      &:after {
        // Import the shared properties and set the position.
        top: 2 * $textSpacing + $textSize;
      }
    }
  }
}
