.skeleton {
}

// Hide all elements within a skeleton.
.skeleton * {
  visibility: hidden;
  box-sizing: border-box;
}

// Only show the bones of the skeleton
.skeleton .bone {
  visibility: visible;
}

// Allow to set the color of the bones for the whole skeleton.
@mixin color($name, $color) {
  .skeleton.#{$name} {
    .bone {
      background-color: $color;
    }
  }
}

@each $colorName, $color in $colors {
  @include color($colorName, $color);
}
