.skeleton {
}

// Hide all elements within a skeleton.
.skeleton * {
  visibility: hidden;
  box-sizing: border-box;
}

// Only show the bones of the skeleton
.skeleton .bone {
  visibility: visible;
}
