// Define the shared properties of the pseudo elements for the multiline text.
%multilinePseudo {
  height: inherit;
  content: '';
  display: block;
  width: 100%;
  position: relative;
  background-color: inherit; 
  border-radius: inherit;
}

.bone-text {
  display: block;
  margin-bottom: $textSpacingDefault;
  margin-top: $textSpacingDefault;
  color: transparent;
  height: $textSizeDefault;
  content: '';
  width: 100%;
  //flex-grow: 1;

  &.bone-rounded {
    border-radius: 10px;
  }
}


@include size {
  &.skeleton-#{$sizeName} {
    .bone-text {
      height: $textSize;
      margin-bottom: $textSpacing;
      margin-top: $textSpacing;
    }
  }
}
