// Define the shared properties of the pseudo elements for the multiline text.
%multilinePseudo {
  height: $textBoneSize;
  content: '';
  display: block;
  width: 100%;
  position: relative;
  background-color: inherit; 
  border-radius: inherit;
}


.bone-text {
  display: block;
  margin-bottom: $textSpacing;
  margin-top: $textSpacing;
  color: transparent;
  height: $textBoneSize;
  content: '';
  //width: 100%;
  flex-grow: 1;

  &.bone-rounded {
    border-radius: 10px;
  }

  &.bone-multiline {
    margin-bottom: 3 * $textSpacing + 2 * $textBoneSize;

    &:before {
      // Import the shared properties and set the position.
      @extend %multilinePseudo;
      top: $textSpacing + $textBoneSize;
    }

    &:after {
      // Import the shared properties and set the position.
      @extend %multilinePseudo;
      top: 2 * $textSpacing + $textBoneSize;
    }

    //Different styles for the multiline text.

    // The length of the bones gets evenly smaller.
    &.bone-multiline-steps {
      &:before {
        width: 85%;
      }

      &:after   {
        width: 70%;
      }
    }

    // Only the last bone is smaller to represent the last line of a paragraph.
    &.bone-multiline-paragraph {
      &:after {
        width: 70%;
      }
    }

    // Mix the length of the bones.
    &.bone-multiline-mixed {
      width: 80%;

      &:before {
        width: 115%;
      }

      &:after {
        width: 70%;
      }
    }

    // Add a margin to the pseudo elements to create a list effect.
    &.bone-multiline-list {

      &:before {
        margin-left: 10%;
        width: 70%;
      }

      &:after {
        margin-left: 10%;
        width: 60%;
      }
    }
  }
}
