.skeleton * {
  visibility: hidden;
  box-sizing: border-box; }

.skeleton .bone {
  visibility: visible; }

@keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

.skeleton-pulse .bone {
  animation: pulse 1.2s infinite ease-out; }

.skeleton .bone {
  background-color: #c9c9c9; }
  .skeleton .bone.width-half {
    width: 50%; }
  .skeleton .bone.width-quarter {
    width: 25%; }

.skeleton .bone * {
  display: none; }

.skeleton.skeleton-grey .bone {
  background-color: #c9c9c9; }

.skeleton.skeleton-turquoise .bone {
  background-color: #1abc9c; }

.skeleton.skeleton-emerald .bone {
  background-color: #2ecc71; }

.skeleton.skeleton-peter-river .bone {
  background-color: #3498db; }

.skeleton.skeleton-amethyst .bone {
  background-color: #9b59b6; }

.skeleton.skeleton-wet-asphalt .bone {
  background-color: #34495e; }

.skeleton.skeleton-green-sea .bone {
  background-color: #16a085; }

.skeleton.skeleton-nephritis .bone {
  background-color: #27ae60; }

.skeleton.skeleton-belize-hole .bone {
  background-color: #2980b9; }

.skeleton.skeleton-wisteria .bone {
  background-color: #8e44ad; }

.skeleton.skeleton-midnight-blue .bone {
  background-color: #2c3e50; }

.skeleton.skeleton-sun-flower .bone {
  background-color: #f1c40f; }

.skeleton.skeleton-carrot .bone {
  background-color: #e67e22; }

.skeleton.skeleton-alizarin .bone {
  background-color: #e74c3c; }

.skeleton.skeleton-clouds .bone {
  background-color: #ecf0f1; }

.skeleton.skeleton-concrete .bone {
  background-color: #95a5a6; }

.skeleton.skeleton-orange .bone {
  background-color: #f39c12; }

.skeleton.skeleton-pumkin .bone {
  background-color: #d35400; }

.skeleton.skeleton-pomegranate .bone {
  background-color: #c0392b; }

.skeleton.skeleton-silver .bone {
  background-color: #bdc3c7; }

.skeleton.skeleton-asbestos .bone {
  background-color: #7f8c8d; }

.skeleton .bone-type-multiline:before, .skeleton .bone-type-multiline:after {
  height: inherit;
  content: '';
  display: block;
  width: 100%;
  position: relative;
  background-color: inherit;
  border-radius: inherit; }

.skeleton .bone-type-text, .skeleton .bone-type-multiline, .skeleton .bone-type-heading {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: transparent;
  height: 0.75em;
  content: '';
  width: 100%; }
  .skeleton .bone-type-text.bone-style-rounded, .skeleton .bone-style-rounded.bone-type-multiline, .skeleton .bone-style-rounded.bone-type-heading {
    border-radius: 10px; }

.skeleton.skeleton-small .bone-type-text, .skeleton.skeleton-small .bone-type-multiline, .skeleton.skeleton-small .bone-type-heading {
  height: 0.5em;
  margin-bottom: 0.25em;
  margin-top: 0.25em; }

.skeleton.skeleton-normal .bone-type-text, .skeleton.skeleton-normal .bone-type-multiline, .skeleton.skeleton-normal .bone-type-heading {
  height: 0.75em;
  margin-bottom: 0.5em;
  margin-top: 0.5em; }

.skeleton.skeleton-big .bone-type-text, .skeleton.skeleton-big .bone-type-multiline, .skeleton.skeleton-big .bone-type-heading {
  height: 1em;
  margin-bottom: 0.75em;
  margin-top: 0.75em; }

.skeleton .bone-type-multiline {
  margin-bottom: 3em; }
  .skeleton .bone-type-multiline:before {
    top: 1.25em; }
  .skeleton .bone-type-multiline:after {
    top: 1.75em; }
  .skeleton .bone-type-multiline.bone-style-steps:before {
    width: 85%; }
  .skeleton .bone-type-multiline.bone-style-steps:after {
    width: 70%; }
  .skeleton .bone-type-multiline.bone-style-paragraph:after {
    width: 70%; }
  .skeleton .bone-type-multiline.bone-style-mixed {
    width: 80%; }
    .skeleton .bone-type-multiline.bone-style-mixed:before {
      width: 115%; }
    .skeleton .bone-type-multiline.bone-style-mixed:after {
      width: 70%; }
  .skeleton .bone-type-multiline.bone-style-list:before {
    margin-left: 10%;
    width: 70%; }
  .skeleton .bone-type-multiline.bone-style-list:after {
    margin-left: 10%;
    width: 60%; }

.skeleton.skeleton-small .bone-type-multiline {
  margin-bottom: 1.75em; }
  .skeleton.skeleton-small .bone-type-multiline:before {
    top: 0.75em; }
  .skeleton.skeleton-small .bone-type-multiline:after {
    top: 1em; }

.skeleton.skeleton-normal .bone-type-multiline {
  margin-bottom: 3em; }
  .skeleton.skeleton-normal .bone-type-multiline:before {
    top: 1.25em; }
  .skeleton.skeleton-normal .bone-type-multiline:after {
    top: 1.75em; }

.skeleton.skeleton-big .bone-type-multiline {
  margin-bottom: 4.25em; }
  .skeleton.skeleton-big .bone-type-multiline:before {
    top: 1.75em; }
  .skeleton.skeleton-big .bone-type-multiline:after {
    top: 2.5em; }

.skeleton .bone-type-heading {
  height: 1em; }
  .skeleton .bone-type-heading.bone-has-subheading {
    margin-bottom: 2.25em; }
    .skeleton .bone-type-heading.bone-has-subheading:before {
      height: 0.75em;
      content: '';
      display: block;
      position: relative;
      background-color: inherit;
      border-radius: inherit;
      top: 1.5em;
      width: 50%; }

.skeleton.skeleton-small .bone-type-heading {
  height: 0.75em; }
  .skeleton.skeleton-small .bone-type-heading.bone-has-subheading {
    margin-bottom: 1.5em; }
    .skeleton.skeleton-small .bone-type-heading.bone-has-subheading:before {
      height: 0.5em;
      top: 1em; }

.skeleton.skeleton-normal .bone-type-heading {
  height: 1em; }
  .skeleton.skeleton-normal .bone-type-heading.bone-has-subheading {
    margin-bottom: 2.25em; }
    .skeleton.skeleton-normal .bone-type-heading.bone-has-subheading:before {
      height: 0.75em;
      top: 1.5em; }

.skeleton.skeleton-big .bone-type-heading {
  height: 1.25em; }
  .skeleton.skeleton-big .bone-type-heading.bone-has-subheading {
    margin-bottom: 3em; }
    .skeleton.skeleton-big .bone-type-heading.bone-has-subheading:before {
      height: 1em;
      top: 2em; }

.skeleton .bone-type-image {
  display: inline-block;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gETDTggzL3OiAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAADUlEQVQI12P4//8/AwAI/AL+XJ/P2gAAAABJRU5ErkJggg==); }
  .skeleton .bone-type-image.bone-style-rounded {
    border-radius: 25%; }
  .skeleton .bone-type-image.bone-style-round {
    border-radius: 50%; }

.skeleton.skeleton-small .bone-type-image {
  height: 32px;
  width: 32px; }

.skeleton.skeleton-normal .bone-type-image {
  height: 48px;
  width: 48px; }

.skeleton.skeleton-big .bone-type-image {
  height: 64px;
  width: 64px; }
