.skeleton * {
  visibility: hidden;
  box-sizing: border-box; }

.skeleton .bone {
  visibility: visible; }

.skeleton.grey .bone {
  background-color: #c9c9c9; }

.skeleton.turquoise .bone {
  background-color: #1abc9c; }

.skeleton.emerald .bone {
  background-color: #2ecc71; }

.skeleton.peter-river .bone {
  background-color: #3498db; }

.skeleton.amethyst .bone {
  background-color: #9b59b6; }

.skeleton.wet-asphalt .bone {
  background-color: #34495e; }

.skeleton.green-sea .bone {
  background-color: #16a085; }

.skeleton.nephritis .bone {
  background-color: #27ae60; }

.skeleton.belize-hole .bone {
  background-color: #2980b9; }

.skeleton.wisteria .bone {
  background-color: #8e44ad; }

.skeleton.midnight-blue .bone {
  background-color: #2c3e50; }

.skeleton.sun-flower .bone {
  background-color: #f1c40f; }

.skeleton.carrot .bone {
  background-color: #e67e22; }

.skeleton.alizarin .bone {
  background-color: #e74c3c; }

.skeleton.clouds .bone {
  background-color: #ecf0f1; }

.skeleton.concrete .bone {
  background-color: #95a5a6; }

.skeleton.orange .bone {
  background-color: #f39c12; }

.skeleton.pumkin .bone {
  background-color: #d35400; }

.skeleton.pomegranate .bone {
  background-color: #c0392b; }

.skeleton.silver .bone {
  background-color: #bdc3c7; }

.skeleton.asbestos .bone {
  background-color: #7f8c8d; }

@keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

.skeleton-pulse .bone {
  animation: pulse 1.2s infinite ease-out; }

.skeleton .bone {
  background-color: #c9c9c9; }

.skeleton .bone.grey {
  background-color: #c9c9c9; }

.skeleton .bone.turquoise {
  background-color: #1abc9c; }

.skeleton .bone.emerald {
  background-color: #2ecc71; }

.skeleton .bone.peter-river {
  background-color: #3498db; }

.skeleton .bone.amethyst {
  background-color: #9b59b6; }

.skeleton .bone.wet-asphalt {
  background-color: #34495e; }

.skeleton .bone.green-sea {
  background-color: #16a085; }

.skeleton .bone.nephritis {
  background-color: #27ae60; }

.skeleton .bone.belize-hole {
  background-color: #2980b9; }

.skeleton .bone.wisteria {
  background-color: #8e44ad; }

.skeleton .bone.midnight-blue {
  background-color: #2c3e50; }

.skeleton .bone.sun-flower {
  background-color: #f1c40f; }

.skeleton .bone.carrot {
  background-color: #e67e22; }

.skeleton .bone.alizarin {
  background-color: #e74c3c; }

.skeleton .bone.clouds {
  background-color: #ecf0f1; }

.skeleton .bone.concrete {
  background-color: #95a5a6; }

.skeleton .bone.orange {
  background-color: #f39c12; }

.skeleton .bone.pumkin {
  background-color: #d35400; }

.skeleton .bone.pomegranate {
  background-color: #c0392b; }

.skeleton .bone.silver {
  background-color: #bdc3c7; }

.skeleton .bone.asbestos {
  background-color: #7f8c8d; }

.skeleton .bone-text.bone-multiline:before, .skeleton .bone-text.bone-multiline:after {
  height: 0.75em;
  content: '';
  display: block;
  width: 100%;
  position: relative;
  background-color: inherit;
  border-radius: inherit; }

.skeleton .bone-text {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: transparent;
  height: 0.75em;
  content: '';
  flex-grow: 1; }
  .skeleton .bone-text.bone-rounded {
    border-radius: 10px; }
  .skeleton .bone-text.bone-multiline {
    margin-bottom: 3em; }
    .skeleton .bone-text.bone-multiline:before {
      top: 1.25em; }
    .skeleton .bone-text.bone-multiline:after {
      top: 1.75em; }
    .skeleton .bone-text.bone-multiline.bone-multiline-steps:before {
      width: 85%; }
    .skeleton .bone-text.bone-multiline.bone-multiline-steps:after {
      width: 70%; }
    .skeleton .bone-text.bone-multiline.bone-multiline-paragraph:after {
      width: 70%; }
    .skeleton .bone-text.bone-multiline.bone-multiline-mixed {
      width: 80%; }
      .skeleton .bone-text.bone-multiline.bone-multiline-mixed:before {
        width: 115%; }
      .skeleton .bone-text.bone-multiline.bone-multiline-mixed:after {
        width: 70%; }
    .skeleton .bone-text.bone-multiline.bone-multiline-list:before {
      margin-left: 10%;
      width: 70%; }
    .skeleton .bone-text.bone-multiline.bone-multiline-list:after {
      margin-left: 10%;
      width: 60%; }

.skeleton .bone-text.bone-heading {
  height: 1em; }
  .skeleton .bone-text.bone-heading.bone-has-subheading {
    margin-bottom: 2.25em; }
    .skeleton .bone-text.bone-heading.bone-has-subheading:before {
      height: 0.75em;
      content: '';
      display: block;
      position: relative;
      background-color: inherit;
      border-radius: inherit;
      top: 1.5em;
      width: 50%; }

.skeleton .bone-image {
  display: inline-block;
  flex-shrink: 0; }
  .skeleton .bone-image.bone-rounded {
    border-radius: 25%; }
  .skeleton .bone-image.bone-round {
    border-radius: 50%; }

.skeleton .bone-image.x16 {
  width: 16px;
  height: 16px; }

.skeleton .bone-image.x32 {
  width: 32px;
  height: 32px; }

.skeleton .bone-image.x64 {
  width: 64px;
  height: 64px; }

.skeleton .bone-image.x128 {
  width: 128px;
  height: 128px; }

.skeleton .bone-image.x256 {
  width: 256px;
  height: 256px; }
