.skeleton * {
  visibility: hidden;
  box-sizing: border-box; }

.skeleton .bone {
  visibility: visible; }

@-webkit-keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

.skeleton-animation-pulse .bone {
  -webkit-animation: pulse 1.2s infinite ease-out;
          animation: pulse 1.2s infinite ease-out; }

@-webkit-keyframes shimmer {
  0% {
    background-position: -600px 0; }
  100% {
    background-position: 600px 0; } }

@keyframes shimmer {
  0% {
    background-position: -600px 0; }
  100% {
    background-position: 600px 0; } }

.skeleton-animation-shimmer.skeleton-color-grey .bone {
  background-image: linear-gradient(90deg, #c9c9c9 8%, #b0b0b0 18%, #c9c9c9 33%); }

.skeleton-animation-shimmer.skeleton-color-turquoise .bone {
  background-image: linear-gradient(90deg, #1abc9c 8%, #148f77 18%, #1abc9c 33%); }

.skeleton-animation-shimmer.skeleton-color-emerald .bone {
  background-image: linear-gradient(90deg, #2ecc71 8%, #25a25a 18%, #2ecc71 33%); }

.skeleton-animation-shimmer.skeleton-color-peter-river .bone {
  background-image: linear-gradient(90deg, #3498db 8%, #217dbb 18%, #3498db 33%); }

.skeleton-animation-shimmer.skeleton-color-amethyst .bone {
  background-image: linear-gradient(90deg, #9b59b6 8%, #804399 18%, #9b59b6 33%); }

.skeleton-animation-shimmer.skeleton-color-wet-asphalt .bone {
  background-image: linear-gradient(90deg, #34495e 8%, #22303d 18%, #34495e 33%); }

.skeleton-animation-shimmer.skeleton-color-green-sea .bone {
  background-image: linear-gradient(90deg, #16a085 8%, #107360 18%, #16a085 33%); }

.skeleton-animation-shimmer.skeleton-color-nephritis .bone {
  background-image: linear-gradient(90deg, #27ae60 8%, #1e8449 18%, #27ae60 33%); }

.skeleton-animation-shimmer.skeleton-color-belize-hole .bone {
  background-image: linear-gradient(90deg, #2980b9 8%, #20638f 18%, #2980b9 33%); }

.skeleton-animation-shimmer.skeleton-color-wisteria .bone {
  background-image: linear-gradient(90deg, #8e44ad 8%, #703688 18%, #8e44ad 33%); }

.skeleton-animation-shimmer.skeleton-color-midnight-blue .bone {
  background-image: linear-gradient(90deg, #2c3e50 8%, #1a252f 18%, #2c3e50 33%); }

.skeleton-animation-shimmer.skeleton-color-sun-flower .bone {
  background-image: linear-gradient(90deg, #f1c40f 8%, #c29d0b 18%, #f1c40f 33%); }

.skeleton-animation-shimmer.skeleton-color-carrot .bone {
  background-image: linear-gradient(90deg, #e67e22 8%, #bf6516 18%, #e67e22 33%); }

.skeleton-animation-shimmer.skeleton-color-alizarin .bone {
  background-image: linear-gradient(90deg, #e74c3c 8%, #d62c1a 18%, #e74c3c 33%); }

.skeleton-animation-shimmer.skeleton-color-clouds .bone {
  background-image: linear-gradient(90deg, #ecf0f1 8%, #cfd9db 18%, #ecf0f1 33%); }

.skeleton-animation-shimmer.skeleton-color-concrete .bone {
  background-image: linear-gradient(90deg, #95a5a6 8%, #798d8f 18%, #95a5a6 33%); }

.skeleton-animation-shimmer.skeleton-color-orange .bone {
  background-image: linear-gradient(90deg, #f39c12 8%, #c87f0a 18%, #f39c12 33%); }

.skeleton-animation-shimmer.skeleton-color-pumkin .bone {
  background-image: linear-gradient(90deg, #d35400 8%, #a04000 18%, #d35400 33%); }

.skeleton-animation-shimmer.skeleton-color-pomegranate .bone {
  background-image: linear-gradient(90deg, #c0392b 8%, #962d22 18%, #c0392b 33%); }

.skeleton-animation-shimmer.skeleton-color-silver .bone {
  background-image: linear-gradient(90deg, #bdc3c7 8%, #a1aab0 18%, #bdc3c7 33%); }

.skeleton-animation-shimmer.skeleton-color-asbestos .bone {
  background-image: linear-gradient(90deg, #7f8c8d 8%, #667273 18%, #7f8c8d 33%); }

.skeleton-animation-shimmer .bone {
  -webkit-animation: shimmer 1s infinite linear;
          animation: shimmer 1s infinite linear;
  background-image: linear-gradient(90deg, #c9c9c9 8%, #b0b0b0 18%, #c9c9c9 33%);
  background-size: 1200px; }

.skeleton .bone {
  background-color: #c9c9c9; }
  .skeleton .bone.width-half {
    width: 50%; }
  .skeleton .bone.width-quarter {
    width: 25%; }

.skeleton .bone * {
  display: none; }

.skeleton.skeleton-color-grey .bone {
  background-color: #c9c9c9; }

.skeleton.skeleton-color-turquoise .bone {
  background-color: #1abc9c; }

.skeleton.skeleton-color-emerald .bone {
  background-color: #2ecc71; }

.skeleton.skeleton-color-peter-river .bone {
  background-color: #3498db; }

.skeleton.skeleton-color-amethyst .bone {
  background-color: #9b59b6; }

.skeleton.skeleton-color-wet-asphalt .bone {
  background-color: #34495e; }

.skeleton.skeleton-color-green-sea .bone {
  background-color: #16a085; }

.skeleton.skeleton-color-nephritis .bone {
  background-color: #27ae60; }

.skeleton.skeleton-color-belize-hole .bone {
  background-color: #2980b9; }

.skeleton.skeleton-color-wisteria .bone {
  background-color: #8e44ad; }

.skeleton.skeleton-color-midnight-blue .bone {
  background-color: #2c3e50; }

.skeleton.skeleton-color-sun-flower .bone {
  background-color: #f1c40f; }

.skeleton.skeleton-color-carrot .bone {
  background-color: #e67e22; }

.skeleton.skeleton-color-alizarin .bone {
  background-color: #e74c3c; }

.skeleton.skeleton-color-clouds .bone {
  background-color: #ecf0f1; }

.skeleton.skeleton-color-concrete .bone {
  background-color: #95a5a6; }

.skeleton.skeleton-color-orange .bone {
  background-color: #f39c12; }

.skeleton.skeleton-color-pumkin .bone {
  background-color: #d35400; }

.skeleton.skeleton-color-pomegranate .bone {
  background-color: #c0392b; }

.skeleton.skeleton-color-silver .bone {
  background-color: #bdc3c7; }

.skeleton.skeleton-color-asbestos .bone {
  background-color: #7f8c8d; }

.skeleton .bone-type-multiline:before, .skeleton .bone-type-multiline:after {
  height: inherit;
  content: '';
  display: block;
  width: 100%;
  position: relative;
  background: inherit;
  border-radius: inherit; }

.skeleton .bone-type-text, .skeleton .bone-type-multiline, .skeleton .bone-type-heading {
  display: block;
  color: transparent;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  height: 0.75em;
  width: 100%; }
  .skeleton .bone-type-text.bone-style-rounded, .skeleton .bone-style-rounded.bone-type-multiline, .skeleton .bone-style-rounded.bone-type-heading {
    border-radius: 10px; }

.skeleton.skeleton-size-small .bone-type-text, .skeleton.skeleton-size-small .bone-type-multiline, .skeleton.skeleton-size-small .bone-type-heading {
  height: 0.5em;
  margin-bottom: 0.25em;
  margin-top: 0.25em; }

.skeleton.skeleton-size-normal .bone-type-text, .skeleton.skeleton-size-normal .bone-type-multiline, .skeleton.skeleton-size-normal .bone-type-heading {
  height: 0.75em;
  margin-bottom: 0.5em;
  margin-top: 0.5em; }

.skeleton.skeleton-size-big .bone-type-text, .skeleton.skeleton-size-big .bone-type-multiline, .skeleton.skeleton-size-big .bone-type-heading {
  height: 1em;
  margin-bottom: 0.75em;
  margin-top: 0.75em; }

.skeleton .bone-type-multiline {
  margin-bottom: 3em; }
  .skeleton .bone-type-multiline:before {
    top: 1.25em; }
  .skeleton .bone-type-multiline:after {
    top: 1.75em; }
  .skeleton .bone-type-multiline.bone-style-steps:before {
    width: 85%; }
  .skeleton .bone-type-multiline.bone-style-steps:after {
    width: 70%; }
  .skeleton .bone-type-multiline.bone-style-paragraph:after {
    width: 70%; }
  .skeleton .bone-type-multiline.bone-style-mixed {
    width: 80%; }
    .skeleton .bone-type-multiline.bone-style-mixed:before {
      width: 115%; }
    .skeleton .bone-type-multiline.bone-style-mixed:after {
      width: 70%; }
  .skeleton .bone-type-multiline.bone-style-list:before {
    margin-left: 10%;
    width: 70%; }
  .skeleton .bone-type-multiline.bone-style-list:after {
    margin-left: 10%;
    width: 60%; }

.skeleton.skeleton-size-small .bone-type-multiline {
  margin-bottom: 1.75em; }
  .skeleton.skeleton-size-small .bone-type-multiline:before {
    top: 0.75em; }
  .skeleton.skeleton-size-small .bone-type-multiline:after {
    top: 1em; }

.skeleton.skeleton-size-normal .bone-type-multiline {
  margin-bottom: 3em; }
  .skeleton.skeleton-size-normal .bone-type-multiline:before {
    top: 1.25em; }
  .skeleton.skeleton-size-normal .bone-type-multiline:after {
    top: 1.75em; }

.skeleton.skeleton-size-big .bone-type-multiline {
  margin-bottom: 4.25em; }
  .skeleton.skeleton-size-big .bone-type-multiline:before {
    top: 1.75em; }
  .skeleton.skeleton-size-big .bone-type-multiline:after {
    top: 2.5em; }

.skeleton .bone-type-heading {
  height: 1em; }
  .skeleton .bone-type-heading.bone-style-subheading {
    margin-bottom: 2.25em; }
    .skeleton .bone-type-heading.bone-style-subheading:before {
      height: 0.75em;
      content: '';
      display: block;
      position: relative;
      background: inherit;
      border-radius: inherit;
      top: 1.5em;
      width: 50%; }

.skeleton.skeleton-size-small .bone-type-heading {
  height: 0.75em; }
  .skeleton.skeleton-size-small .bone-type-heading.bone-style-subheading {
    margin-bottom: 1.5em; }
    .skeleton.skeleton-size-small .bone-type-heading.bone-style-subheading:before {
      height: 0.5em;
      top: 1em; }

.skeleton.skeleton-size-normal .bone-type-heading {
  height: 1em; }
  .skeleton.skeleton-size-normal .bone-type-heading.bone-style-subheading {
    margin-bottom: 2.25em; }
    .skeleton.skeleton-size-normal .bone-type-heading.bone-style-subheading:before {
      height: 0.75em;
      top: 1.5em; }

.skeleton.skeleton-size-big .bone-type-heading {
  height: 1.25em; }
  .skeleton.skeleton-size-big .bone-type-heading.bone-style-subheading {
    margin-bottom: 3em; }
    .skeleton.skeleton-size-big .bone-type-heading.bone-style-subheading:before {
      height: 1em;
      top: 2em; }

.skeleton .bone-type-image {
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 48px;
  height: 48px;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gETDTggzL3OiAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAADUlEQVQI12P4//8/AwAI/AL+XJ/P2gAAAABJRU5ErkJggg==); }
  .skeleton .bone-type-image.bone-style-rounded {
    border-radius: 25%; }
  .skeleton .bone-type-image.bone-style-round {
    border-radius: 50%; }

.skeleton.skeleton-size-small .bone-type-image {
  height: 32px;
  width: 32px; }

.skeleton.skeleton-size-normal .bone-type-image {
  height: 48px;
  width: 48px; }

.skeleton.skeleton-size-big .bone-type-image {
  height: 64px;
  width: 64px; }
