html
  head

  body

    h1 Hoho
    .skeleton
      span.bone.bone-text.grey.bone-rounded
      span.bone.bone-text.grey
      span.bone.bone-text.orange.bone-rounded
      .bone.bone-image.x32
      .bone.bone-image.x64.bone-rounded
      .bone.bone-image.x64.bone-round
      img.bone.bone-image.x64
      .bone.bone-text.bone-multiline.bone-multiline-paragraph.bone-rounded
      .bone.bone-text
