html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body

    h1 Hoho
    .skeleton
      .bone.bone-type-text
      .bone.bone-type-heading.bone-has-subheading
      .bone.bone-type-multiline
