html
  head

  body

    h1 Hoho
    .skeleton
      span.bone.bone-text.grey.bone-rounded
      span.bone.bone-text.grey
      span.bone.bone-text.orange.bone-rounded
      .bone.bone-image.x32
      .bone.bone-image.x64.bone-rounded
      .bone.bone-image.x64.bone-round
    .skeleton
      .row(style='display:flex')
        .bone.bone-image.bone-round.x64
        .bone.bone-text.bone-heading.bone-has-subheading
      .bone.bone-text.bone-multiline.bone-multiline-list.bone-rounded
      .bone.bone-text.bone-multiline.bone-multiline-list.bone-rounded
      .bone.bone-text.bone-multiline.bone-multiline.bone-rounded
    .skeleton.amethyst
      .row(style="display:flex")
        .bone.bone-image.x64
        .bone.bone-text.bone-multiline.bone-multiline-mixed
